body {
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a {
  color: rgb(53, 104, 192);
  text-decoration-line: none;
  /* color: #081830; */
}

.main-bg {
  background: #121212;
}

.paper {
  background: '#333';
  color: white;
}
